# Dev (to be removed later)
test.py

# RMD shit
book_files
index_files

# VS CODE
.vscode/

# Python
venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
